figs/ppts
*.pyc
.ipynb_checkpoints
*.pptx
*.rtx
*.bst
AO_bondedSi.pdf
old/
final/
*.aux
*.sty
*.cls
reftest4-1.tex
revtex4-1/
Makefile
deprecated/
*.pkl
notebooks/*.pdf
notebooks/*.jpg
notebooks/anim
notebooks/fill_anim
MGS_AO_SiGaps.tar
MGS_AO_archive
*.bbl